@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 62.5%; }

body {
  padding-top: 90px;
  letter-spacing: 0; }

a {
  color: #000;
  text-decoration: none;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  a:link, a:visited {
    color: #000; }
  a:active, a:hover {
    opacity: 0.5; }

ul {
  list-style: none; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  -moz-transition: all 0.3s ease-out;
  -ms-transition: all 0.3s ease-out;
  -o-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }
  button:focus {
    outline: none; }

.spinner {
  width: 75px;
  height: 75px;
  margin: 25px auto;
  position: relative;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg); }
  .spinner .spinner-item {
    position: absolute;
    width: calc(75px / 2.5);
    height: calc(75px / 2.5); }
    .spinner .spinner-item:nth-child(1) {
      border: 4px solid #bbbb88;
      top: 0;
      left: 0;
      animation: spinner3A 5000ms linear infinite; }
    .spinner .spinner-item:nth-child(2) {
      border: 4px solid #eedd99;
      top: 0;
      left: calc(75px / 2.5);
      animation: spinner3B 5000ms linear infinite; }
    .spinner .spinner-item:nth-child(3) {
      border: 4px solid #eeaa88;
      top: calc(75px / 2.5);
      left: calc(75px / 2.5);
      animation: spinner3C 5000ms linear infinite; }

@keyframes spinner3A {
  0%,
  8.33%,
  16.66%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  24.99%,
  33.32%,
  41.65% {
    -webkit-transform: translate(100%, 0);
    -moz-transform: translate(100%, 0);
    -ms-transform: translate(100%, 0);
    -o-transform: translate(100%, 0);
    transform: translate(100%, 0); }
  49.98%,
  58.31%,
  66.64% {
    -webkit-transform: translate(100%, 100%);
    -moz-transform: translate(100%, 100%);
    -ms-transform: translate(100%, 100%);
    -o-transform: translate(100%, 100%);
    transform: translate(100%, 100%); }
  74.97%,
  83.30%,
  91.63% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%); } }

@keyframes spinner3B {
  0%,
  8.33%,
  91.63%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  16.66%,
  24.99%,
  33.32% {
    -webkit-transform: translate(0, 100%);
    -moz-transform: translate(0, 100%);
    -ms-transform: translate(0, 100%);
    -o-transform: translate(0, 100%);
    transform: translate(0, 100%); }
  41.65%,
  49.98%,
  58.31% {
    -webkit-transform: translate(-100%, 100%);
    -moz-transform: translate(-100%, 100%);
    -ms-transform: translate(-100%, 100%);
    -o-transform: translate(-100%, 100%);
    transform: translate(-100%, 100%); }
  66.64%,
  74.97%,
  83.30% {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0); } }

@keyframes spinner3C {
  0%,
  83.30%,
  91.63%,
  100% {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    -o-transform: translate(0, 0);
    transform: translate(0, 0); }
  8.33%,
  16.66%,
  24.99% {
    -webkit-transform: translate(-100%, 0);
    -moz-transform: translate(-100%, 0);
    -ms-transform: translate(-100%, 0);
    -o-transform: translate(-100%, 0);
    transform: translate(-100%, 0); }
  33.32%,
  41.65%,
  49.98% {
    -webkit-transform: translate(-100%, -100%);
    -moz-transform: translate(-100%, -100%);
    -ms-transform: translate(-100%, -100%);
    -o-transform: translate(-100%, -100%);
    transform: translate(-100%, -100%); }
  58.31%,
  66.64%,
  74.97% {
    -webkit-transform: translate(0, -100%);
    -moz-transform: translate(0, -100%);
    -ms-transform: translate(0, -100%);
    -o-transform: translate(0, -100%);
    transform: translate(0, -100%); } }

.header {
  background: #fff;
  border-bottom: 1px solid #f4f2f2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100; }
  .header__logo {
    display: block;
    max-width: 96px;
    font-size: 0;
    padding: 0 30px; }
    .header__logo img {
      width: 100%; }
  .header__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1; }
    .header__search input {
      background: #f4f2f2;
      border: none;
      border-radius: 100px;
      width: 100%;
      max-width: 440px;
      padding: 12px 24px;
      margin-right: 20px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .header__search input:focus {
        max-width: 480px;
        outline: none; }
    .header__search button {
      background: #e2726e;
      border: none;
      border-radius: 100px;
      color: #fff;
      cursor: pointer;
      width: 80px;
      height: 39px;
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .header__search button:hover {
        opacity: 0.5; }
  .header__user {
    background: #fff;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 30px; }
    .header__user .username {
      color: #777;
      font-size: 18px;
      padding-right: 15px; }
    .header__user .avatar {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 56px;
      height: 56px; }
    .header__user .dropdown {
      background: #fff;
      position: absolute;
      width: 140px;
      top: 100%;
      right: 0;
      transform-origin: right top;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
      -webkit-transition: all 0.3s ease-out;
      -moz-transition: all 0.3s ease-out;
      -ms-transition: all 0.3s ease-out;
      -o-transition: all 0.3s ease-out;
      transition: all 0.3s ease-out; }
      .header__user .dropdown li a {
        display: block;
        font-size: 14px;
        padding: 10px 20px; }
    .header__user:hover .dropdown {
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1); }

.sidebar {
  background: #333;
  width: 262px;
  height: calc(100vh - 90px);
  padding-top: 35px;
  position: fixed;
  top: 90px;
  left: 0;
  overflow: auto; }
  .sidebar__item .tit {
    background: #e26e7d;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px 20px;
    position: relative;
    -webkit-transition: all 0.5s ease-out;
    -moz-transition: all 0.5s ease-out;
    -ms-transition: all 0.5s ease-out;
    -o-transition: all 0.5s ease-out;
    transition: all 0.5s ease-out; }
    .sidebar__item .tit::before {
      content: '';
      position: absolute;
      background: #fff;
      width: 3px;
      height: 100%;
      top: 0;
      left: 0;
      -webkit-transform: scaleY(0);
      -moz-transform: scaleY(0);
      -ms-transform: scaleY(0);
      -o-transform: scaleY(0);
      transform: scaleY(0);
      transition: transform 0.2s, width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s, background-color 0.1s, -webkit-transform 0.2s; }
    .sidebar__item .tit .icon {
      width: 20px;
      font-size: 0;
      text-align: center;
      position: relative; }
      .sidebar__item .tit .icon .fa-th-large {
        width: 20px; }
      .sidebar__item .tit .icon .fa-lightbulb {
        width: 18px; }
    .sidebar__item .tit span {
      font-family: "Open Sans", sans-serif;
      font-size: 14px;
      text-transform: uppercase;
      padding-left: 10px;
      position: relative; }
    .sidebar__item .tit.active, .sidebar__item .tit:hover {
      color: #000; }
      .sidebar__item .tit.active::before, .sidebar__item .tit:hover::before {
        width: 100%;
        -webkit-transform: scaleY(1);
        -moz-transform: scaleY(1);
        -ms-transform: scaleY(1);
        -o-transform: scaleY(1);
        transform: scaleY(1); }
  .sidebar__item ul {
    display: flex;
    flex-wrap: wrap;
    height: 260px;
    padding: 0 10px;
    margin: 20px 0;
    overflow: auto; }
    .sidebar__item ul li {
      padding: 0 5px 10px; }
      .sidebar__item ul li button {
        background: #e26e7d;
        border: 2px solid #e26e7d;
        border-radius: 100px;
        color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        min-height: 40px;
        padding: 0 10px; }
        .sidebar__item ul li button.count {
          padding: 6px 4px 6px 10px; }
        .sidebar__item ul li button p {
          flex: 1; }
        .sidebar__item ul li button span {
          background: #000;
          border-radius: 50%;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 24px;
          height: 24px;
          margin-left: 8px; }
        .sidebar__item ul li button:hover {
          background: #fff;
          color: #e26e7d; }

#home .main-content {
  display: flex; }
  #home .main-content main {
    display: flex;
    flex-direction: column;
    width: calc(100% - 262px);
    margin-left: auto; }
    #home .main-content main .gallery {
      font-size: 0; }
      #home .main-content main .gallery__item {
        display: inline-block;
        width: 20%;
        position: relative; }
        #home .main-content main .gallery__item .img {
          background-position: center;
          background-size: cover;
          background-repeat: no-repeat;
          height: 300px;
          position: relative; }
          #home .main-content main .gallery__item .img::before {
            content: '';
            position: absolute;
            background: rgba(0, 0, 0, 0.5);
            width: 100%;
            height: 100%;
            top: 0;
            left: 0; }
        #home .main-content main .gallery__item p {
          position: absolute;
          color: #fff;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 20px;
          text-align: center;
          width: 100%;
          height: 100%;
          top: 0;
          left: 0;
          z-index: 10; }
    #home .main-content main .overview__heading {
      color: #777;
      font-family: "Open Sans", sans-serif;
      font-size: 22px;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 1px;
      padding: 15px 30px; }
    #home .main-content main .detail {
      background: #faf9f9;
      border-top: 1px solid #f4f2f2;
      border-bottom: 1px solid #f4f2f2;
      padding: 30px; }
      #home .main-content main .detail__item {
        background: #fff;
        box-shadow: 0 20px 50px 0 rgba(0, 0, 0, 0.06);
        padding: 20px 25px;
        overflow: hidden;
        position: relative; }
        #home .main-content main .detail__item:not(:last-child) {
          margin-bottom: 25px; }
        #home .main-content main .detail__item::before {
          content: "\201C";
          position: absolute;
          color: #f4f2f2;
          font-size: 160px;
          font-family: sans-serif;
          top: -38px;
          left: -6px; }
        #home .main-content main .detail__item .upper {
          display: flex;
          padding: 0 5px 15px;
          position: relative; }
          #home .main-content main .detail__item .upper__quote {
            flex: 1; }
            #home .main-content main .detail__item .upper__quote blockquote {
              font-size: 16px;
              margin-bottom: 15px; }
            #home .main-content main .detail__item .upper__quote .author {
              color: #e26e7d;
              font-size: 14px;
              font-weight: bold; }
          #home .main-content main .detail__item .upper__favorite {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 35px; }
            #home .main-content main .detail__item .upper__favorite button {
              color: #f4f2f2; }
              #home .main-content main .detail__item .upper__favorite button svg {
                height: 20px; }
        #home .main-content main .detail__item .lower {
          border-top: 1px solid #f4f2f2;
          display: flex;
          align-items: center;
          justify-content: space-between;
          padding: 15px 5px 0; }
          #home .main-content main .detail__item .lower .cate {
            display: flex; }
            #home .main-content main .detail__item .lower .cate button {
              background: #e26e7d;
              border-radius: 100px;
              color: #fff;
              font-family: "Open Sans", sans-serif;
              font-size: 13px;
              padding: 8px 15px;
              overflow: hidden;
              position: relative; }
              #home .main-content main .detail__item .lower .cate button::before {
                content: '';
                position: absolute;
                background: #777;
                border-radius: 50%;
                width: 20px;
                height: 20px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%) scale(0);
                -moz-transform: translate(-50%, -50%) scale(0);
                -ms-transform: translate(-50%, -50%) scale(0);
                -o-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
                -webkit-transition: all 0.5s ease-out;
                -moz-transition: all 0.5s ease-out;
                -ms-transition: all 0.5s ease-out;
                -o-transition: all 0.5s ease-out;
                transition: all 0.5s ease-out; }
              #home .main-content main .detail__item .lower .cate button span {
                position: relative; }
              #home .main-content main .detail__item .lower .cate button:hover::before {
                -webkit-transform: translate(-50%, -50%) scale(10);
                -moz-transform: translate(-50%, -50%) scale(10);
                -ms-transform: translate(-50%, -50%) scale(10);
                -o-transform: translate(-50%, -50%) scale(10);
                transform: translate(-50%, -50%) scale(10); }
          #home .main-content main .detail__item .lower .social {
            display: flex; }
            #home .main-content main .detail__item .lower .social a {
              color: #999;
              display: block;
              width: 20px;
              text-align: center;
              margin-left: 25px;
              position: relative; }
              #home .main-content main .detail__item .lower .social a::before {
                content: '';
                position: absolute;
                background: #e26e7d;
                border-radius: 50%;
                width: 34px;
                height: 34px;
                top: 50%;
                left: 50%;
                -webkit-transform: translate(-50%, -50%) scale(0);
                -moz-transform: translate(-50%, -50%) scale(0);
                -ms-transform: translate(-50%, -50%) scale(0);
                -o-transform: translate(-50%, -50%) scale(0);
                transform: translate(-50%, -50%) scale(0);
                -webkit-transition: all 0.3s ease-out;
                -moz-transition: all 0.3s ease-out;
                -ms-transition: all 0.3s ease-out;
                -o-transition: all 0.3s ease-out;
                transition: all 0.3s ease-out; }
              #home .main-content main .detail__item .lower .social a svg {
                display: block;
                height: 20px;
                margin: 0 auto;
                position: relative; }
              #home .main-content main .detail__item .lower .social a:hover {
                color: #fff;
                opacity: 1; }
                #home .main-content main .detail__item .lower .social a:hover::before {
                  -webkit-transform: translate(-50%, -50%) scale(1);
                  -moz-transform: translate(-50%, -50%) scale(1);
                  -ms-transform: translate(-50%, -50%) scale(1);
                  -o-transform: translate(-50%, -50%) scale(1);
                  transform: translate(-50%, -50%) scale(1); }
      #home .main-content main .detail__no-item {
        font-size: 16px;
        text-align: center; }
        #home .main-content main .detail__no-item span {
          color: #e26e7d;
          display: block;
          font-size: 26px; }
    #home .main-content main .load-more {
      padding: 30px; }
      #home .main-content main .load-more button {
        border: 2px solid #e26e7d;
        border-radius: 100px;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 240px;
        height: 60px;
        margin: 0 auto;
        overflow: hidden;
        position: relative; }
        #home .main-content main .load-more button i {
          position: absolute;
          background: #e26e7d;
          border-radius: 50%;
          width: 25%;
          height: 100%;
          -webkit-transform: translateY(150%);
          -moz-transform: translateY(150%);
          -ms-transform: translateY(150%);
          -o-transform: translateY(150%);
          transform: translateY(150%); }
          #home .main-content main .load-more button i:nth-child(1) {
            left: calc((1 - 1) * 25%);
            transition-delay: calc((1 - 1) * 0.1s);
            -webkit-transition: all 0.5s calc((1 - 1) * 0.1s) ease-out;
            -moz-transition: all 0.5s calc((1 - 1) * 0.1s) ease-out;
            -ms-transition: all 0.5s calc((1 - 1) * 0.1s) ease-out;
            -o-transition: all 0.5s calc((1 - 1) * 0.1s) ease-out;
            transition: all 0.5s calc((1 - 1) * 0.1s) ease-out; }
          #home .main-content main .load-more button i:nth-child(2) {
            left: calc((2 - 1) * 25%);
            transition-delay: calc((2 - 1) * 0.1s);
            -webkit-transition: all 0.5s calc((2 - 1) * 0.1s) ease-out;
            -moz-transition: all 0.5s calc((2 - 1) * 0.1s) ease-out;
            -ms-transition: all 0.5s calc((2 - 1) * 0.1s) ease-out;
            -o-transition: all 0.5s calc((2 - 1) * 0.1s) ease-out;
            transition: all 0.5s calc((2 - 1) * 0.1s) ease-out; }
          #home .main-content main .load-more button i:nth-child(3) {
            left: calc((3 - 1) * 25%);
            transition-delay: calc((3 - 1) * 0.1s);
            -webkit-transition: all 0.5s calc((3 - 1) * 0.1s) ease-out;
            -moz-transition: all 0.5s calc((3 - 1) * 0.1s) ease-out;
            -ms-transition: all 0.5s calc((3 - 1) * 0.1s) ease-out;
            -o-transition: all 0.5s calc((3 - 1) * 0.1s) ease-out;
            transition: all 0.5s calc((3 - 1) * 0.1s) ease-out; }
          #home .main-content main .load-more button i:nth-child(4) {
            left: calc((4 - 1) * 25%);
            transition-delay: calc((4 - 1) * 0.1s);
            -webkit-transition: all 0.5s calc((4 - 1) * 0.1s) ease-out;
            -moz-transition: all 0.5s calc((4 - 1) * 0.1s) ease-out;
            -ms-transition: all 0.5s calc((4 - 1) * 0.1s) ease-out;
            -o-transition: all 0.5s calc((4 - 1) * 0.1s) ease-out;
            transition: all 0.5s calc((4 - 1) * 0.1s) ease-out; }
        #home .main-content main .load-more button span {
          color: #e26e7d;
          font-size: 16px;
          position: relative;
          -webkit-transition: all 0.5s ease-out;
          -moz-transition: all 0.5s ease-out;
          -ms-transition: all 0.5s ease-out;
          -o-transition: all 0.5s ease-out;
          transition: all 0.5s ease-out; }
        #home .main-content main .load-more button:hover i {
          -webkit-transform: translateY(0) scale(2);
          -moz-transform: translateY(0) scale(2);
          -ms-transform: translateY(0) scale(2);
          -o-transform: translateY(0) scale(2);
          transform: translateY(0) scale(2); }
        #home .main-content main .load-more button:hover span {
          color: #fff; }
