// COLOR
$black: #000;
$white: #fff;

$grey-light-1: #faf9f9;
$grey-light-2: #f4f2f2;
$grey-light-3: #f0eeee;
$grey-light-4: #ccc;

$grey-dark-1: #333;
$grey-dark-2: #777;
$grey-dark-3: #999;

$primary: #e2726e;

$primary-dark-1: #e26e7d;

// FONT
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Open+Sans:wght@300;400&display=swap');
$noto: 'Noto Sans', sans-serif;
$open: 'Open Sans', sans-serif;