.header {
  background: $white;
  border-bottom: 1px solid $grey-light-2;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 90px;
  // padding: 0 30px;
  position: fixed;
  top: 0;
  left: 0;
  &__logo {
    display: block;
    max-width: 96px;
    font-size: 0;
    padding: 0 30px;
    img {
      width: 100%;
    }
  }
  &__search {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
    input {
      background: $grey-light-2;
      border: none;
      border-radius: 100px;
      width: 100%;
      max-width: 440px;
      padding: 12px 24px;
      margin-right: 20px;
      @include transition_c(all .3s ease-out);
      &:focus {
        max-width: 480px;
        outline: none;
      }
    }
    // button {
    //   background: $primary;
    //   border: none;
    //   border-radius: 100px;
    //   color: $white;
    //   cursor: pointer;
    //   width: 80px;
    //   height: 39px;
    //   @include transition_c(all .3s ease-out);
    //   &:hover {
    //     opacity: 0.5;
    //   }
    // }
  }
  &__user {
    background: $white;
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    padding: 0 30px;
    .username {
      color: $grey-dark-2;
      font-size: 18px;
      padding-right: 15px;
    }
    .avatar {
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      border-radius: 50%;
      width: 56px;
      height: 56px;
    }
    .dropdown {
      background: $white;
      position: absolute;
      width: 140px;
      top: 100%;
      right: 0;
      transform-origin: right top;
      @include tranform_c(scale(0));
      @include transition_c(all 0.3s ease-out);
      li a {
        display: block;
        font-size: 14px;
        padding: 10px 20px;
      }
    }

    &:hover .dropdown {
      @include tranform_c(scale(1));
    }
  }
}