.sidebar {
  background: $grey-dark-1;
  width: 262px;
  height: calc(100vh - 90px);
  padding-top: 35px;
  position: fixed;
  top: 90px;
  left: 0;
  overflow: auto;
  &__item {
    .tit {
      background: $primary-dark-1;
      color: $white;
      display: flex;
      align-items: center;
      padding: 10px 20px;
      position: relative;
      @include transition_c(all .5s ease-out);
      &::before {
        content: '';
        position: absolute;
        background: $white;
        width: 3px;
        height: 100%;
        top: 0;
        left: 0;
        @include tranform_c(scaleY(0));
        transition: transform 0.2s,width 0.4s cubic-bezier(1, 0, 0, 1) 0.2s,background-color 0.1s,-webkit-transform 0.2s;
      }
      .icon {
        width: 20px;
        font-size: 0;
        text-align: center;
        position: relative;
        .fa-th-large {
          width: 20px;
        }
        .fa-lightbulb {
          width: 18px;
        }
      }
      span {
        font-family: $open;
        font-size: 14px;
        text-transform: uppercase;
        padding-left: 10px;
        position: relative;
      }
      &.active,
      &:hover {
        color: $black;
        &::before {
          width: 100%;
          @include tranform_c(scaleY(1));
        }
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      height: 260px;
      padding: 0 10px;
      margin: 20px 0;
      overflow: auto;
      li {
        padding: 0 5px 10px;
        button {
          background: $primary-dark-1;
          border: 2px solid $primary-dark-1;
          border-radius: 100px;
          color: $white;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 100%;
          height: 100%;
          min-height: 40px;
          padding: 0 10px;
          &.count {
            padding: 6px 4px 6px 10px;
          }
          p {
            flex: 1;
          }
          span {
            background: #000;
            border-radius: 50%;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 24px;
            height: 24px;
            margin-left: 8px;
          }
          &:hover {
            background: $white;
            color: $primary-dark-1;
          }
        }
      }
    }
  }
}