#home {
  .main-content {
    display: flex;
    main {
      display: flex;
      flex-direction: column;
      width: calc(100% - 262px);
      margin-left: auto;
      .gallery {
        font-size: 0;
        &__item {
          display: inline-block;
          width: 20%;
          position: relative;
          .img {
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
            height: 300px;
            position: relative;
            &::before {
              content: '';
              position: absolute;
              background: rgba($color: #000, $alpha: 0.5);
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
            }
          }
          p {
            position: absolute;
            color: $white;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 20px;
            text-align: center;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            z-index: 10;
          }
        }
      }
      .overview {
        &__heading {
          color: $grey-dark-2;
          font-family: $open;
          font-size: 22px;
          font-weight: 300;
          text-transform: uppercase;
          letter-spacing: 1px;
          padding: 15px 30px;
        }
      }
      .detail {
        background: $grey-light-1;
        border-top: $line;
        border-bottom: $line;
        padding: 30px;
        &__item {
          background: $white;
          box-shadow: 0 20px 50px 0 rgba($color: #000, $alpha: 0.06);
          padding: 20px 25px;
          overflow: hidden;
          position: relative;
          &:not(:last-child) {
            margin-bottom: 25px;
          }
          &::before {
            content: "\201C";
            position: absolute;
            color: $grey-light-2;
            font-size: 160px;
            font-family: sans-serif;
            top: -38px;
            left: -6px;
          }
          .upper {
            display: flex;
            padding: 0 5px 15px;
            position: relative;
            &__quote {
              flex: 1;
              blockquote {
                font-size: 16px;
                margin-bottom: 15px;
              }
              .author {
                color: $primary-dark-1;
                font-size: 14px;
                font-weight: bold;
              }
            }
            &__favorite {
              display: flex;
              align-items: center;
              justify-content: center;
              width: 35px;
              button {
                color: $grey-light-2;
                svg {
                  height: 20px;
                }
              }
            }
          }
          .lower {
            border-top: $line;
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 15px 5px 0;
            .cate {
              display: flex;
              button {
                background: $primary-dark-1;
                border-radius: 100px;
                color: $white;
                font-family: $open;
                font-size: 13px;
                padding: 8px 15px;
                overflow: hidden;
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  background: $grey-dark-2;
                  border-radius: 50%;
                  width: 20px;
                  height: 20px;
                  top: 50%;
                  left: 50%;
                  @include tranform_c(translate(-50%, -50%) scale(0));
                  @include transition_c(all .5s ease-out);
                }
                span {
                  position: relative;
                }
                &:hover {
                  // opacity: 1;
                  &::before {
                    @include tranform_c(translate(-50%, -50%) scale(10));
                  }
                }
              }
            }
            .social {
              display: flex;
              a {
                color: $grey-dark-3;
                display: block;
                width: 20px;
                text-align: center;
                margin-left: 25px;
                position: relative;
                &::before {
                  content: '';
                  position: absolute;
                  background: $primary-dark-1;
                  border-radius: 50%;
                  width: 34px;
                  height: 34px;
                  top: 50%;
                  left: 50%;
                  @include tranform_c(translate(-50%, -50%) scale(0));
                  @include transition_c(all .3s ease-out);
                }
                svg {
                  display: block;
                  height: 20px;
                  margin: 0 auto;
                  position: relative;
                }
                &:hover {
                  color: $white;
                  opacity: 1;
                  &::before {
                    @include tranform_c(translate(-50%, -50%) scale(1));
                  }
                }
              }
            }
          }
        }
        &__no-item {
          font-size: 16px;
          text-align: center;
          span {
            color: $primary-dark-1;
            display: block;
            font-size: 26px;
          }
        }
      }
      .load-more {
        padding: 30px;
        button {
          border: 2px solid $primary-dark-1;
          border-radius: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 240px;
          height: 60px;
          margin: 0 auto;
          overflow: hidden;
          position: relative;
          i {
            position: absolute;
            background: $primary-dark-1;
            border-radius: 50%;
            width: 25%;
            height: 100%;
            @include tranform_c(translateY(150%));
            @for $i from 1 through 4 {
              &:nth-child(#{$i}) {
                left: calc((#{$i} - 1) * 25%);
                transition-delay: calc((#{$i} - 1) * 0.1s);
                @include transition_c(all .5s calc((#{$i} - 1) * 0.1s) ease-out);
              }
            }
          }
          span {
            color: $primary-dark-1;
            font-size: 16px;
            position: relative;
            @include transition_c(all .5s ease-out);
          }
          &:hover {
            i {
              @include tranform_c(translateY(0) scale(2));
            }
            span {
              color: $white;
            }
          }
        }
      }
    }
  }
}